@font-face {
    font-family: Mario;
    src: url(/fonts/TypefaceMarioWorldPixelFilledRegular-Yz84q.otf);
}
@font-face {
    font-family: typewriter;
    src: url(/fonts/MomsTypewriter.ttf);
}
html{
    width: 100%;
    height: 100%;
    display: table;
    cursor: url('/cursor.cur'), auto;
}
body{
    background-image: 
        url(images/stars4.gif),
        url(images/seamless_stars.jpg);
    image-rendering: pixelated;
    background-blend-mode: difference, normal;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.title{
    display: flex; 
    flex-direction:column; 
    text-align: center; 
    justify-content: center; 
    align-items: center;
    margin: 20px 0 0 0;
}
.container {
    -webkit-justify-content: space-between; 
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 0 0;
    flex-shrink: 0;
    
}
.center-image {
    display: block;
    margin: 0 auto;
}

  
.nav{
    user-select: none;
    font-family: typewriter;
    width: 35vw;
    height: 2vw;
    margin: 0 auto 0 auto;
    background-image: url(/images/violet-01.gif);
    background-size: 10%;
    background-repeat: repeat;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 1vh ridge rgba(255, 0, 157, 0.6);
    
}
a{
    padding-inline: 1vw;
    font-size: 2vw;
    text-transform: uppercase;
    color: #fc6dbb;
    text-decoration: none; 
    text-shadow: rgb(0, 0, 0) 3px 5px;
}
a:hover{
    color: #ff7070;
}

.animated-text{
    background-image: url(/images/fire2.gif);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-position: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    font-size:2vw;  
    background-repeat: no-repeat;
}
.animated-text.title{
    font-family: Mario;
    text-align: center;
    -webkit-text-stroke: 2px orange;
}

.center-image.cards{
    background-image: url(images/bg.png);
    border: 12px solid transparent;
    border-image: url(/images/framehearts.gif   ) 10% repeat;
    text-align: center;
    padding: .5em;
    width: 30%;
    justify-content: space-evenly;
    position: absolute;
    bottom: 3em;
    left: 0;
    right: 0;
}
.box{
    user-select: none;
    background-image: url(/images/silversparkles.gif);
    height: max-content;
    width: max-content;
    text-align: center;
    border: 3px solid whitesmoke;
}
.clock{
    user-select: none;
    background-image: url(/images/lain.gif);
    height: 13.3em;
    width: 20em;
}
.frog{
    user-select: none;  
    background-image: url(/images/water028.gif),
                      url(/images/frog_hop_md_clr.gif);
    background-blend-mode: overlay, normal;
    background-size: 50%,35%;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    min-width: 25em;
    min-height: 15em;
}
.transrights{
    user-select: none; 
    background-image: url(/images/transrights.gif);
    background-size: 100%;
    height: 235px;
    width: 250px;
}
.chatBox{
    background-image: url(/images/matrix.gif);
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    min-width: 25em;
    min-height: 19em;
}
#draggable{
    position: absolute;
    
}
.dragzone{
    cursor: url('/w98move.cur'), auto;
}
@keyframes color-change {
    12.5% { color: #ff0000; }
    25% { color: #ffa500; }
    37.5% { color: #ffff00;}
    50% { color: #008000;}
    62.5% {color: #0000ff;}
    75% { color: #4b0082;}
    87.5% {color: #ff0080;}
    100% {color: #ff0000;}
}
@keyframes color-change-image {
    0% {filter:hue-rotate(0deg)}
    100% {filter:hue-rotate(360deg)}
}
@keyframes cute-orbit {
    0% { transform: translateX(0); }
    25% { transform: translateX(10em);}
    75% { transform: translateX(-10em);}
    100% { transform: translateX(0em);}
}   
@keyframes catwalk{
    0% { transform: translateX(0);}
    50% { transform: translateX(530%)}
    50.1% { transform: translateX(530%) scaleX(-1);}
    99.9% {transform: translate(0) scaleX(-1);;}
}
@keyframes fly {
	98.001%, 0% {transform: translateX(-200%) translateY(100vh) rotateZ(0deg)}
	15% {transform: translateX(100vw) translateY(-100%) rotateZ(180deg)}
	15.001%, 18% {transform: translateX(100vw) translateY(-30%) rotateZ(0deg)}
	40% {transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)}
	40.001%, 43% {transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)}
	65% {transform: translateX(100vw) translateY(50vh) rotateZ(0deg)}
	65.001%, 68% {transform: translateX(20vw) translateY(-200%) rotateZ(180deg)}
	95% {transform: translateX(10vw) translateY(100vh) rotateZ(0deg)}
}

@keyframes flicker {
  0% { opacity: .27861}
  5% { opacity: .34769}
  10% { opacity: .23604; }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    z-index: 2;
    pointer-events: none;
    border-radius: 15px;
}
.crt {
    animation: textShadow 1.6s infinite;
  }