@font-face {
    font-family: psychedelia;
    src: url(/fonts/psychedelia-hm.regular.ttf)
}
@font-face {
    font-family: EvilEmpire;
    src: url(/fonts/Evil-Empire.otf);
}
@font-face {
    font-family: Mario;
    src: url(/fonts/TypefaceMarioWorldPixelFilledRegular-Yz84q.otf);
}

body{
    background-image: 
        url(images/stars4.gif),
        url(images/seamless_stars.jpg);
    image-rendering: pixelated;
    background-blend-mode: difference, normal;
    max-width: 100%;
    overflow-x: hidden;
}

.title{
    display: flex; 
    flex-direction:column; 
    text-align: center; 
    justify-content: center; 
    align-items: center;
    margin: 20px auto 0 auto;
}
.container {
    display:flex;
}
.
.center-image {
    display: block;
    margin: 0 auto;
}
  
.nav{
    font-family:'Times New Roman', Times, serif;
    width: 1500px;
    height: 60px;
    margin: 0 auto 50px auto;
    background-image: url(/images/violet-01.gif);
    background-size: 10%;
    background-repeat: repeat;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 4mm ridge rgba(255, 0, 157, 0.6);
    
}
a{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ff79c3;
    text-decoration: none; 
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
a:hover{
    color: #ff7070;
}

.animated-text{
    background-image: url(/images/fire2.gif);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-position: 100%;
    -webkit-background-clip: text;
    font-size: 55px;
    background-repeat: no-repeat;
}
.animated-text.title{
    font-family: Mario;
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke: 2px orange;
}

.cards{
    background-image: url(images/bg.png);
    border: 12px solid transparent;
    border-image: url(/images/framehearts.gif   ) 10% round;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 20px;
    width: 60%;
    
}   
@keyframes color-change {
    12.5% { color: #ff0000; }
    25% { color: #ffa500; }
    37.5% { color: #ffff00;}
    50% { color: #008000;}
    62.5% {color: #0000ff;}
    75% { color: #4b0082;}
    87.5% {color: #ff0080;}
    100% {color: #ff0000;}
}
@keyframes color-change-image {
    0% {filter:hue-rotate(0deg)}
    100% {filter:hue-rotate(360deg)}
}
@keyframes cute-orbit {
    0% { transform: translateX(0); }
    25% { transform: translateX(10em);}
    75% { transform: translateX(-10em);}
    100% { transform: translateX(0em);}
}   
@keyframes catwalk{
    0% { transform: translateX(0);}
    50% { transform: translateX(1511.33px)}
    50.1% { transform: translateX(1511.33px) scaleX(-1);}
    99.9% {transform: translate(0) scaleX(-1);;}
}
@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}
@keyframes shake {
    0% { transform: translate(20px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(60px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -100px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }